apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
        - tunnel
        - --no-autoupdate
        # Habilita o servidor de métricas para que o Liveness Probe funcione
        - --metrics
        - "0.0.0.0:20241"
        - run
        - --token
        - <TunnelToken>
        
        # === MELHORIA 1: Forçar HTTP2 ===
        env:
        - name: TUNNEL_TRANSPORT_PROTOCOL
          value: "http2"
        
        # === MELHORIA 2: Auto-Recuperação (Liveness Probe) ===
        livenessProbe:
          httpGet:
            path: /ready
            port: 20241
          initialDelaySeconds: 15
          periodSeconds: 10
          failureThreshold: 3