apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  name: kube-vip
  namespace: kube-system
spec:
  containers:
  - args:
    - manager
    env:
    - name: vip_arp
      value: "true"
    - name: port
      value: "6443"
    - name: vip_interface
      value: "eth0"
    - name: vip_cidr
      value: "32"
    - name: cp_enable
      value: "true"
    - name: cp_namespace
      value: "kube-system"
    - name: vip_ddns
      value: "false"
    - name: svc_enable
      value: "true"
    - name: vip_leaderelection
      value: "true"
    - name: vip_lease
      value: "5"
    - name: vip_leaseduration
      value: "5"
    - name: vip_renewdeadline
      value: "3"
    - name: vip_retryperiod
      value: "1"
    # --- IP Dedicado de VIP para a kube-apiserver ---
    - name: address
      value: <VIP_KubeAPI>
    # ----------------------------------
    - name: prometheus_server
      value: ":2112"
    - name: KUBECONFIG
      value: "/etc/kubernetes/admin.conf"
    image: ghcr.io/kube-vip/kube-vip:v0.8.0
    imagePullPolicy: IfNotPresent
    name: kube-vip
    resources: {}
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
      sysctls:
      - name: net.ipv4.conf.all.arp_ignore
        value: "1"
      - name: net.ipv4.conf.all.arp_announce
        value: "2"
    volumeMounts:
    - mountPath: /etc/kubernetes/admin.conf
      name: kubeconfig
      readOnly: true
  hostNetwork: true
  hostAliases:
  - ip: "127.0.0.1"
    hostnames:
    - "kubernetes"
  volumes:
  - hostPath:
      path: /etc/rancher/k3s/k3s.yaml
      type: File
    name: kubeconfig
  tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
    effect: "NoExecute"
status: {}
